body{
  background-color: #FFFFFF; /*white*/
  font-family: serif;
  font: Palatino Linotype;
}

h1{
  font-size: 1.75em;
  text-align: center;
  padding-top: 25px;
}

section{ /*base configuration*/
  border: black solid 1px;
  box-sizing: border-box;
  background-color: #FBE5E5;  /*light pink*/
  margin: 1em;
}

h2{
  font-size: 1.25em;
  box-sizing: border-box;
  border: black solid 1px;
  text-align: right;
  padding: 20px;
  margin-top: -1px;
  margin-right: -1px;
  float: right;
}

p {
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

#CoffeeTitle{
  background-color: #8D6D57; /*coffee brown*/
}

#TeaTitle{
  background-color: #9AC680; /*tea green*/
}

#BitesTitle{
  background-color: #DF80A0; /*pastry box pink*/
}


@media (max-width: 767px) {
  /*Mobile: set so has 3 equal rows*/
  .col-sm-1 {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*Tablet: set so has equal first 2 columns in one row, and 2nd row takes the whole width*/

  .col-md-6 {
    width: 48%;
    position: relative;
    float: right;
  }

  #Tea {
    anchor: top left;
    clear: left;
    margin-right: 0.3em;
    height: 195px;
  }

  #Coffee {
    margin-left: 0.4em;
    height: 195px;
  }

  .col-md-1 {
    width: 94%;
    position: absolute;
    clear: left;
    top: 300px;
    margin-left: 36px;
    right: 1%;
  }

  .row2 {
   clear: left
   position: relative;
  }
}

@media (min-width: 992px) {
  /*Desktop: set so all 3 sections are equal in one row*/
  .col-lg-4 {
    width: 30%;
    float: right;
    margin-right: 1%;
  }
}
